 
.btn {
    color: #333;
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: button;
    overflow: visible;
    box-sizing: border-box;
}

.btn:hover {
    outline: 0;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn:focus, .btn.selected {
    color: #fff;
    outline: 0;
    background-color: #337ab7;
    border-color: #337ab7;
}